<div style="background-color: #fafafa; height:100%;">
  <div class="container h-100">
    <div *ngIf="!actAsFavorites" class="row pt-4 justify-content-between">
      <div class="col-md-4 col-sm-12">
        <div class="input-group mb-4">
          <i class="fa fa-search input-group-text searchIcon"></i>
          <input (keyup)="onSearch($event)" type="search" id="searchBox" class="form-control"
            placeholder="Search for a country..." />
        </div>
      </div>
      <div class="col-md-3 col-sm-12 text-xl-end dropdown">
        <a class="btn btn-light dropdown-toggle filterShadow" href="#" role="button" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
          Filter by Region
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" (click)="regionFilter('Africa')">Africa</a></li>
          <li><a class="dropdown-item" (click)="regionFilter('Americas')">Americas</a></li>
          <li><a class="dropdown-item" (click)="regionFilter('Asia')">Asia</a></li>
          <li><a class="dropdown-item" (click)="regionFilter('Europe')">Europe</a></li>
          <li><a class="dropdown-item" (click)="regionFilter('Oceania')">Oceania</a></li>
          <li><a class="dropdown-item" (click)="regionFilter('')">All Regions</a></li>
        </ul>
      </div>
    </div>
    <div class="row h-100 justify-content-between pt-5">
      <div *ngIf="actAsFavorites" class="col-5">
        <button [routerLink]="['/']" type="button" class="btn btn-light px-4 mb-4 buttonShadow"><i
            class="fa fa-long-arrow-left"></i>
          &nbsp;Back</button>
      </div>
      <h3 *ngIf="actAsFavorites" class="mb-3"><b>Favorite countries</b></h3>
      <div *ngIf="actAsFavorites && !countries">
        <div class='row justify-content-center'>
          <img class="col-md-5" src="https://bouyuc.com/static/images/undraw_Around_the_world_re_n353.svg">
        </div>
        <div class='row justify-content-center mt-3' style="text-align: center;">
          <div class='col-12'>Click on the <i class="fa fa-star-o"></i> next to the country name to add it to your
              favorites</div>
        </div>
      </div>
      <div [routerLink]="['/','country', country.alpha3Code]" class="col-3 mb-5 mx-auto card countryCard"
        *ngFor="let country of countries | countryFilter: region | async">
        <img src="{{country.flag}}" class="card-img-top cardImage" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{country.name}}</h5>
          <p class="card-text">
            <b>Population: </b>{{country.population | number:'1.0':'en-US' || 'N/A'}} <br>
            <b>Region: </b>{{country.region || 'N/A'}} <br>
            <b>Capital:</b> {{country.capital || 'N/A'}} <br>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>